/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: white;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #d4af37, #f5e6a8);
  text-align: center;
  padding: 20px;
  color: white;
}

/* MENU */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

nav button {
  padding: 12px 18px;
  border-radius: 20px;
  border: 1px solid #d4af37;
  background: white;
  color: #d4af37;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

nav button:hover {
  background: #d4af37;
  color: white;
}

/* ABAS */
.aba {
  display: none;
  padding: 25px;
  text-align: center;
  min-height: 70vh;
}

.ativa {
  display: block;
}

/* CORES */
#inicio { background: #ffffff; }
#mensagens { background: #ffe4ec; }
#historias { background: #f3e8ff; }
#jogo { background: #e8ffe8; }
#tarefas { background: #ffd6e0; }

/* TEXTO */
.texto {
  max-width: 600px;
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.6;
}

/* CARROSSEL */
.carrossel img {
  width: 260px;
  max-width: 90%;
  border-radius: 15px;
  margin-top: 20px;
  transition: 0.5s;
}

/* VIDEO */
video {
  width: 300px;
  max-width: 90%;
  border-radius: 15px;
  margin-top: 20px;
}

/* QUIZ */
#jogo button {
  margin: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #ff6f91;
  color: white;
  cursor: pointer;
}

/* INPUT */
input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* LISTA */
li {
  background: white;
  margin: 5px auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}

/* RESPONSIVO */
@media (max-width: 600px) {

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav button {
    width: 90%;
  }

  .texto {
    font-size: 16px;
  }
}
